<p>home works!</p>


<div class="conv">
    <label for="">Qual é a moéda?</label><br>

    <select name="Moeda local" id="">
        <option value="0"></option>
        <option value="1">Real</option>
        <option value="2">Dollar</option>
        <option value="3">Libra</option>
        <option value="4">Euro</option>
    </select><br>

    <label for="">Digite a quantia a ser convertida?</label><br>

    <input class="" type="text" placeholder="Digite um valor" ><br>

    <label for="">Qual é a moéda para a qual deseja converter?</label><br>

    <select name="Moeda local" id="">
        <option value="0"></option>
        <option value="1">Real</option>
        <option value="2">Dollar</option>
        <option value="3">Libra</option>
        <option value="4">Euro</option>
    </select>

    <label for=""></label>

</div>